<header>
    <div>
        <img>
        <div class="p-4">
            <div class="relative mt-1">
                <input type="text" id="password"
                    class="w-full py-2 pl-3 pr-10 transition-colors border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500"
                    placeholder="Search...">
                <button
                    class="absolute block text-xl text-center text-gray-400 transition-colors w-7 h-7 leading-0 top-2 right-2 focus:outline-none hover:text-gray-900"><i
                        class="mdi mdi-magnify"></i></button>
            </div>
        </div>


    </div>
</header>